@model IEnumerable<Hobby>

@{
    ViewData["Title"] = "Home";

    // get value of id route segment
    int id = Convert.ToInt32(ViewContext.RouteData.Values["id"]);  
}

<div class="text-center">
    <h1 class="display-4">Our team members directory &amp; hobby list</h1>
    <p>
        Welcome! This site is existing for our team final project.<br/>
        Please take look into each page and get to know about us!
        You can see more detail by clicking top.
    </p>
</div>

